<div class='container'>
    <header class='text-center bg-primary text-white p-5' >
      
      <h1 class="animate__animated animate__flip animate__slower ">Sneaker Sniper</h1>

    </header>
  </div>
<section class="text-center text white p- 5">
  <button class= " button animate__animated animate__fadeInUpBig animate__slower" type="button">Enter If You Dare!</button>
</section>


