.button {
  border: white;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  border-radius: 12px;

}
.button:hover {
    background-color: #f44336;
    color: white;
    
  }

.container {
  /* background-color: whitesmoke; */
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 350px;
  margin-top: 50px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  /* background: black; */
  box-shadow: lightgrey;
  background-color: black;
  justify-content: center;
  height: 1200px;
  
}


.page {
  
  /* background-color: rgb(71, 68, 68); */
  background-position-x: 10px;
}

h1 {
  background-color: black;
  border: red;
  text-align: center;
  color: white;
  /* width: 350px; */
  justify-content: center;
}

.brand-title {
  background-color: black;
  border: red;
  text-align: center;
  color: white;
  justify-content: space-around;
  padding-top: 0;
  margin-top: 0;
}

.brand-title-1 :hover {
  font-size: 75px;
  color: red;
}

body {
  background-position-x: 10px;
  background-image: url('/images/sneakers.png');
}

main {
  background-image: url('/images/sneakers.png');
}