.shoe-names {
    color: red
}

.price-stock {
    color: white
}

.welcome-title {
  font-size: 75px;
}

.footer-basic {
    margin-top: 5%;
    padding:40px 0;
    background-color:grey;
    color:#000000;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 25px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    color: crimson;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    color: crimson;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(240, 6, 6);
    margin-bottom:0;
  }

  body {
      background-color: black;
  }

  nav {
    background-color: red;
    height: 65px;
    display: flex;
    align-items: center;
  }

  .home-btn :hover, .login-btn :hover {
    background-color: black;
  }

  nav a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .logout-btn {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .login-text {
      color: white;
      padding-top: 50px;
  }

  .sneaker  h1{
    color: white;
  }
  .sneaker{
    text-align: center;
    
  }

  .brandname {
    color: white;
    text-align: center;
    font-size: 70px;
  }
  .branditem {
    text-align: center;
  }
  .logo img {
    width:170px;
    height: 150px;
    background-color : white;
    border-radius: 9%;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 60px;
  }

  .logo {
    align-items: center;
  }

  .white-text {
    color: white;
  }

  .brand-title {
    background-color: black;
    border: red;
    text-align: center;
    color: white;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    font-size: 60px;
    margin-bottom: 20px;
  }

  .tag-box {
    text-align: center;
    padding: 0px;
  }

  .page-title {
    color: white;
  }
  .form-label-2 {
    color: white;
  }
  .shoe-container img {
    /* display: flex; */
    width: 50%;
    text-align: center;
  }

  .login-title {
    color: red;
    margin-top: 125px;
  }

  .signup-title {
    color: red;
    margin-top: 75px;
  }

  .password-req {
    color: red;
  }

  @media only screen and (max-width: 1200px) {
   .logo img {
      display: none;
    }
    .brand-title {
      background-color: black;
      border: red;
      text-align: center;
      color: white;
      justify-content: space-around;
      padding: 20px;
      margin: 20px;
      
    }
  }

  @media only screen and (max-width: 770px) {

  .shoe-container img {
    display: flex;
    width: 100%;
  }

}