<link rel="stylesheet" href="/CSS/animation.css">

<div class="logo">
  <img class="animate__animated animate__heartBeat animate__slower" src="/images/jordan.svg" alt="image">
  <img class="animate__animated animate__heartBeat animate__slower" src="/images/nike.png" alt="image">
  <img class="animate__animated animate__heartBeat animate__slower" src="/images/addidas.png" alt="image">
  <img class="animate__animated animate__heartBeat animate__slower" src="/images/asics.svg" alt="image">


  {{#each allBrands as |brand|}}
  <a class="brand-title-1" href="/allBrands/{{brand.dataValues.id}}">
    <h1 class="brand-title"> {{brand.dataValues.brand_name}}</h1>
  </a>


  {{/each}}


</div>