<div class="w-60 mx-auto">

  <form class="login-text login-form">
  <div class="mb-3 login-card">
    <h2 class="page-title">Sign in</h2>
    <label for="email-login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="login-card mt-5">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="mb-3 form-group">
        <label class="form-label form-label-2" for="username-signup">Username:</label>
        <input class="form-input form-control" type="text" id="username-signup" />
      </div>
      <div class="mb-3 form-group">
        <label class="form-label form-label-2" for="email-signup">Email:</label>
        <input class="form-input form-control" type="text" id="email-signup" />
      </div>
      <div class="mb-3 form-group">
        <label class="form-label form-label-2" for="password-signup">Password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
 </div>
</div>

<script src="./js/login.js"></script>