<body>
    

    <div class='container'>
        <header class='text-center text-white p-5'>
            <h1 class="animate__animated animate__flip animate__slower ">Sneaker Sniper</h1>
        </header>
        <section class="text-center text white p-5">
            <a href="/allBrands"><button class="button animate__animated animate__fadeInUpBig animate__slower" type="button">Enter If You
                Dare!</button></a>
        </section>
    </div>
    
</body>
