<link rel="stylesheet" href="/CSS/animation.css">

<div class='page'>
    <header class='text-center text-white p-5'>
        <h2 class="animate__animated animate__bounceInLeft welcome-title">Sneaker Sniper</h2>
    </header>
    
    <section class="text-center text white p-5" class="animate_animated animate_backInDown animate_delay-5s">
        <a href="/allBrands"><button class="button animate__animated animate__flash animate__infinite infinite animate__slower"
                type="button">Enter If You Dare!</button>
        </a>

    </section>

</div>

{{!-- <h2 class="animate__animated animate__flip animate__slow welcome-title">Sneaker Sniper</h2> --}}